html {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  margin: auto;
}
.App p {
  font-family: Lora;
}
#toast-container {
  bottom: auto !important;
}
.App img {
  display: block;
  max-width: 80vw;
  /* max-height: 450px; */
  margin: 20px auto;
}
#weddingPhotoHome {
  display: inline;
  max-width: 400px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
#weddingPhotoHome2 {
  display: inline;
  max-width: 400px;
}
.title {
  margin-top: 0;
  padding-top: 25px;
  font-size: 30px;
  font-weight: 500;
  font-family: Raleway;
}
.theButtons {
  position: absolute !important;
  top: 40%;
  transform: translateY(-40%);
  left: 50%;
  transform: translateX(-50%);
}
.homeContainer {
  position: relative;
  background: url('./images/background.png') no-repeat center;
  height: 100vh;
  border: 5px solid white;
}
.photoContainer {
  background-color: #d9dbf0;
}

.input-field {
  max-width: 200px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  html {
    overflow: auto;
  }

  .title {
    font-size: 16px;
  }

  .App img {
    display: block;
    max-width: 80vw;
    margin: 20 auto;
  }

  #weddingPhotoHome2 {
    display: inline;
    max-width: 300px;
  }
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 22px;
  }
}
